/* header */
.banner {
  background: #5000ca22;
  padding: 2rem;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu ul {
  list-style: none;
  padding: 0;

  /* 2. Få elementerne til at stå ved siden af hinanden */
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
